<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class-"jumbotron">
        <h1>Epicodus Survival</h1>
      </div>
      <a href="/survivor/new"><button class="btn btn-info">Start Bootcamp!</button></a>
    </div>
  </body>
</html>
