<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <form action="/survivor" method="post">
        <label for="survName">Enter Name:</label>
        <input id="survName" name="survName" type="text">
        <button type="submit" class="btn btn-info">Start Bootcamp!</button>
      </form>
    </div>
  </body>
</html>
