<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <img src="https://static1.squarespace.com/static/5524448ee4b0d6f6b83ab9e2/t/57cf3de246c3c4d2933aa57c/1536780404709/?format=1500w" alt="Epicodus">
      <form action="/survivor" method="post">
        <label for="survName">Enter Name:</label>
        <input id="survName" name="survName" type="text">
        <button type="submit" class="btn btn-info">Start Bootcamp!</button>
      </form>
    </div>
  </body>
</html>
