<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class-"jumbotron">
        <h1>R.I.P</h1>
        <h2>Sorry, You Died While Coding...</h2>
        <p><a href="/">Try Again!</a></p>
      </div>

    </div>
  </body>
</html>
