<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class-"jumbotron">
        <h1>R.I.P</h1>
        <img src="https://file.namu.moe/file/c2790d5985eae82cd1199a4cba2101c14f9f21a0cbf9340de9e650cc676b62bcb9a1d2ead7edd6297fcef919ca557810">
        <h2>Sorry, You Died While Coding...</h2>
        <p><a href="/">Try Again!</a></p>
      </div>

    </div>
  </body>
</html>
