<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class-"jumbotron">
        <h1>Congratulation! @Model.GetName()</h1>
        <img src="http://www.city.kr/files/attach/images/161/169/064/009/8fd60cfa26129d43d2e224fcbb4bbbb8.jpg">
        <h1>You Graduated Epicodus!</h1>
      </div>
    </div>
  </body>
</html>
