<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <img src="https://static1.squarespace.com/static/5524448ee4b0d6f6b83ab9e2/t/57cf3de246c3c4d2933aa57c/1536780404709/?format=1500w" alt="Epicodus">
      <div class-"jumbotron">
        <h1>@Model.GetName()</h1>
      </div>
      <img src="http://thumb.zumst.com/530x0/http://static.news.zumst.com/images/51/2013/03/27/417142_article.jpg">
      <p>Coding Skill: @Model.GetCodingSkill()</p>
      <p>Sleep: @Model.GetSleep()</p>
      <p>Caffeine: @Model.GetCaffeine()</p>
      <form action="/survivor/coding" method="post">
        <button class="btn btn-info">Coding</button>
      </form>
      <form action="/survivor/caffeine" method="post">
        <button class="btn btn-warning">Drink Coffee</button>
      </form>
      <form action="/survivor/sleep" method="post">
        <button class="btn btn-success">Sleep</button>
      </form>
      <form  action="/survivor/decay" method="post" style="display:none;">
        <button id="auto" type="submit">Decay</button>
      </form>
    </div>
    <script>
      setInterval(function(){
        document.getElementById("auto").click();
      }, 1000);
    </script>
  </body>
</html>
