<!DOCTYPE html>
<html>
  <head>
    <title>Epicodus Survival</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class-"jumbotron">
        <h1>@Model.GetName()</h1>
      </div>
      <p>Coding Skill: @Model.GetCodingSkill()</p>
      <p>Sleep: @Model.GetSleep()</p>
      <p>Caffeine: @Model.GetCaffeine()</p>
      <form action="/survivor/coding" method="post">
        <button class="btn btn-info">Coding</button>
      </form>
      <form action="/survivor/caffeine" method="post">
        <button class="btn btn-warning">Drink Coffee</button>
      </form>
      <form action="/survivor/sleep" method="post">
        <button class="btn btn-success">Sleep</button>
      </form>
      <form  action="/survivor/decay" method="post" style="display:none;">
        <button id="auto" type="submit">Decay</button>
      </form>
    </div>
    <script>
      setInterval(function(){
        document.getElementById("auto").click();
      }, 3000);
    </script>
  </body>
</html>
